<!doctype html>
<html>
  <head>
    <title>Always Poll Out</title>
  </head>
  <body>
    <h1>admin page bitchezz</h1>
    <div id="status-message"></div>
    <div id="connection-count"></div>

    <div id="vote-status">{{#list}}{{pollData}}{{/list}}</div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
