<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Always Poll Out</title>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../jquery.simple-dtpicker.js"></script>
    <link type="text/css" href="../../jquery.simple-dtpicker.css" rel="stylesheet" />
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type='text/css' href="/style.css">
</head>
  <body>
    <h1>poll admin</h1>
    <div id="status-message"></div>
    <div id="expiration-message">
      <% if(poll.expiration) { %>
        <% var date = new Date(poll.expiration) %>
          <%= `Voting for this poll will close at ${date.toLocaleString()}` %>
      <% } else { %>
          There is no current deadling for accepting votes.
      <% } %>
    </div>

    </div>

    <div class="link-container">
      <a class="large-button" id="deactivate-poll" href="#">Deactivate Now</a>
      <a class="large-button" id="set-new-deadline" href="#">Set Deadline</a>
    </div>

    <div id="time-selector-container">
      <span>Select an expiration time (24hr Format): </span><input id="time-selector" type="text"><a href="#" class="small-button" id="submit-new-expiration">Submit</a>
    </div>

    <div id="vote-status">
      <p>Topic: <%= poll.question %></p>
      <p>Votes:</p>
      <ul>
        <% Object.keys(votes).forEach(function(option, index) { %>
          <li><%= option %>: <%= votes[option] %></li>
        <% }); %>
      </ul>
    </div>

    <script src="/client.js"></script>
    <script>$('#time-selector').appendDtpicker({
      "minuteInterval": 15,
      "amPmInTimeList": true,
      "futureOnly": true
    });</script>

  </body>
</html>
