<h1>Always Poll Out</h1>

<div>
  <a id='create-poll' href="#">Create A Poll</a>
</div>

<div class="new-poll">
  <h4>Add a Question:</h4>
  <div class="poll-question">
    <input type="text" placeholder="Add your question for polling.">
  </div>
  <h4>Add Answer Options:</h4>
  <div class="poll-options">
    <input type="text" name="option1" placeholder="Add the first possible answer">
    <input type="text" name="option2" placeholder="Add another possible answer">
  </div>
  <a id='add-another-option' href="#">Add Another Option</a>

  <a id='create-new-poll' href="#">Create Poll</a>
</div>
